@import "tailwindcss";

@font-face {
  font-family: "b Nazanin";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/B_NAZANIN/B-NAZANIN.TTF") format("truetype");
}

@font-face {
  font-family: "b Mitra";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/B-Mitra/B\ Mitra_0.ttf") format("truetype");
}
@font-face {
  font-family: "iran sans";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/A-Iranian-Sans/Iranian\ Sans.ttf") format("truetype");
}

@theme {
  --color-twilight: #634c82;
  --color-sand: #ecc779;
  --color-muted-purple: #654a73;
  --font-b-nazanin: "b Nazanin";
  --font-b-mitra: "b Mitra";
  --font-iran-sans: "iran sans";
}

@layer {
  .btn {
    @apply flex items-center justify-center gap-x-4 w-40 bg-twilight rounded-md py-3.5 px-2 text-sm hover:bg-muted-purple text-neutral-200;
  }

  .textField_input {
    @apply w-full bg-white py-6 px-4 rounded-r-full rounded-l-full border border-gray-600 outline-none focus:bg-neutral-200 text-black transition-all duration-300 ease-in-out focus:shadow-lg focus:shadow-black placeholder:font-extrabold;
  }
}

/* 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 */
